.home {
    width: 100%;
}

.home .content {
    width: 100%;
    position: relative;
    padding-top: 2%;
}

.home .content-wrapper {
    width: 960px;
    margin: 0 auto;
}

.home .wonderfull-menu {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    color: #8b542f;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1%;
}

.home .menu-box-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home .card-menu {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: rgb(21, 58, 90);

    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px -4px #6b6b6b;
}

.home .img-menu {
    cursor: pointer;
    width: 100%;
}

.home .title-menu {
    margin-top: 2%;
    display: grid;
    gap: 10px;
    grid-template-columns: 55% 40%;
}

.title-menu .menu-name {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    color: #8b542f;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.title-menu .btn-menu {
    display: block;
    background-color: #ed7801;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-height: 35px;

    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
}

@media only screen and (max-width: 1024px) {
    .home .content-wrapper {
        width: 100%;
    }

    .home .title-menu {
        grid-template-columns: auto;
    }

    .title-menu .btn-menu {
        display: none;
    }

    .home .card-menu {
        width: 48%;
    }

    .title-menu .menu-name {
        text-align: center;
    }
}